body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
}
.header-nav {
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo {
}
.logo-part {
  color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  background-color: #404bbf;
}
.address {
  font-size: normal;
}
.address-list {
}
.address-item {
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
