body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header-navigation {
  font-family: 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  border-bottom: 1px;
  solid: #E7E9FC;
}

.logo {
  font-family: Raleway, sans-serif ;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.menu-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.header-menu-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.address-content-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
/*-----hero-----*/
.hero {
 background: #2E2F42;
}

.hero-title {
font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-primary-btn:{
font-family:  "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;

}
.hero-primary-btn:hover,
.hero-primary-btn:focus {
  width: Hug (169px)px;
  height: Hug (56px)px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #4D5AE5;
color-text: #ffffff ;  
box-shadow: 0px 4px 4px 0px #00000026;

}

.features {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-item-text {
}
.team {
}
.team-title {
}
.section-title {
}
.team-list {
}
.team-item {
}
.team-image {
}
.team-item-title {
}
.team-item-subtitle {
}
.team-item-subtitel {
}
